<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.11/css/all.css" integrity="sha384-p2jx59pefphTFIpeqCcISO9MdVfIm4pNnsL08A6v5vaQc4owkQqxMV8kg4Yvhaw/" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../style/general.css" />
    <link rel="stylesheet" type="text/css" href="../style/footer.css" />
    <link rel="stylesheet" type="text/css" href="../style/articles.css" />
    <link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet">
  </head>
  <body>
  <header>
    <div class="varia-link"><a href="/varia-articles">Go to Varia section</a></div>
    <div class="jusia"> A blog by Justyna Zygmunt </div><br>
    <div class="jusia2"> Tech section </div>
  </header>
  <main>
    <%- include tech_articles_info/echo-server-io.ejs %>
    <%- include tech_articles_info/echo-server.ejs %>
    <%- include tech_articles_info/clojurescript-syntax.ejs %>
    <%- include tech_articles_info/clojurescript-setup.ejs %>
    <%- include tech_articles_info/java-to-android.ejs %>
    <%- include tech_articles_info/alpha-beta.ejs %>
    <%- include tech_articles_info/minimax.ejs %>
    <%- include tech_articles_info/happiness.ejs %>
    <%- include tech_articles_info/inputstream.ejs %>
    <%- include tech_articles_info/printstream.ejs %>
    <%- include tech_articles_info/java-access-modifiers.ejs %>
    <%- include tech_articles_info/run-java.ejs %>
    <%- include tech_articles_info/sort_by.ejs %>
    <%- include tech_articles_info/recursion.ejs %>
    <%- include tech_articles_info/node-server-test.ejs %>
    <%- include tech_articles_info/api-async.ejs %>
    <%- include tech_articles_info/api-use.ejs %>
    <%- include tech_articles_info/event-listener.ejs %>
    <%- include tech_articles_info/promise-object.ejs %>
  </main>

<%- include partials/footer.ejs %>
